/*basic-----------------------------------------------------------------------------------*/
ol, ul {
  list-style: none;
}
/*clock-----------------------------------------------------------------------------------*/
#content .clock {
  float: left;
  width: 55%;
  padding: 0 5px;
}

.clock-world{
  display: block;
  margin-top:135px;
  margin-left:90px;
  width: 100%;
}

.clock-world p{
  position: absolute;
  top:194px;
  left:93px;
  width:264px;
  height: 100px;
  color:#707070;
  font-family: 'Roboto Mono';
  font-weight: 500;
  transform: rotate(15deg);
  transform-origin:bottom right
}

.clock-world p+p{
  transform: rotate(0deg);
}

.clock-leafs {
  position: absolute;
  top: 149px;
  left: 266px;
}
/*clock-leaf1-----------------------------*/

.clock-leafs .clock-leaf:nth-child(1){
  position: absolute;
  display: flex;
  transform: rotate(200deg);
  width: 70px;
  height: 10px;
}
.clock-leafs .clock-leaf:nth-child(1) > * {
  width: 50%;
  height: 100%;  
  background: #B18686 0% 0% no-repeat padding-box;
  border: 1px solid #DCB1B1;

}
.clock-leafs .clock-leaf:nth-child(1) > :nth-child(1) {
  border-right: none;
  border-top-left-radius: 93%;
  position: relative;
  left: 1px;
}
.clock-leafs .clock-leaf:nth-child(1) > :nth-child(2) {
  border-left: none;
  border-top-right-radius: 93%;
}


/*clock-leaf2---------------------------------*/

.clock-leafs .clock-leaf:nth-child(2){
  position: absolute;
  display: flex;
  transform: rotate(92deg);
  width:47px;
  height:7px;
  left:57px;
  top:-17px;
}
.clock-leafs .clock-leaf:nth-child(2) > * {
  width: 50%;
  height: 100%;  
  background: #B18686 0% 0% no-repeat padding-box;
  border: 1px solid #DCB1B1;

}
.clock-leafs .clock-leaf:nth-child(2) > :nth-child(1) {
  border-right: none;
  border-top-left-radius: 93%;
  position: relative;
  left: 1px;
}
.clock-leafs .clock-leaf:nth-child(2) > :nth-child(2) {
  border-left: none;
  border-top-right-radius: 93%;
}


/*clock-leaf3---------------------------------*/

.clock-leafs .clock-leaf:nth-child(3){
  position: absolute;
  display: flex;
  transform: rotate(140deg);
  width:70px;
  height:10px;
  left:80px;
  top:-13px;
}
.clock-leafs .clock-leaf:nth-child(3) > * {
  width: 50%;
  height: 100%;  
  background: #B18686 0% 0% no-repeat padding-box;
  border: 1px solid #DCB1B1;

}
.clock-leafs .clock-leaf:nth-child(3) > :nth-child(1) {
  border-right: none;
  border-top-left-radius: 93%;
  position: relative;
  left: 1px;
}
.clock-leafs .clock-leaf:nth-child(3) > :nth-child(2) {
  border-left: none;
  border-top-right-radius: 93%;
}


/*時鐘本體---------------------------------*/
.clock-circles .clock-circle:nth-child(1){
  position: absolute;
  top: 185px;
  left: 217px;
  width: 296px;
  height: 296px;
  border-radius: 50%;
  background: #FEE7E7;
  opacity: 1;
}

.clock-circles .clock-circle:nth-child(2){
  position: absolute;
  top: 155px;
  left: 282px;
  width: 148px;
  height: 148px;
  border-radius: 100%  0 0 0;
  transform: rotate(40deg);
  background: #F15353;
  opacity: 0.5;
}

.clock-circles .clock-circle:nth-child(3){
  position: absolute;
  top: 233px;
  left: 266px;
  width: 198px;
  height: 198px;
  border-radius: 50%;
  transform: rotate(40deg);
  background: #E96D6D;
  opacity: 1;
}
/*時鐘指針---------------------------------*/
.clock-pointers .clock-pointer:nth-child(1){
  position: absolute;
  top: 323px;
  left: 356px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FAC3D3;
  opacity: 1;
  z-index: 2;
}

.clock-pointers .clock-pointer:nth-child(2){
  position: absolute;
  top: 267px;
  left: 396px;
  width: 13px;
  height: 86px;
  transform: rotate(60deg);
  background: #FF6066;
  box-shadow: 4px 0px 6px #00000029;
  opacity: 1;
  z-index: 1;
}

.clock-pointers .clock-pointer:nth-child(2)::before {
  position: absolute;
  content: "";
  top: -6px;
  width: 13px;
  height: 13px;
  background: #FF6066;
  border-radius: 50%;
  opacity: 1;
}

.clock-pointers .clock-pointer:nth-child(3){
  position: absolute;
  top: 280px;
  left: 326px;
  width: 13px;
  height: 64px;
  transform: rotate(-60deg);
  background: #F23F46;
  box-shadow: -4px 1px 6px #00000029;
  opacity: 1;
}

.clock-pointers .clock-pointer:nth-child(3)::before{
  position: absolute;
  content: "";
  top: -5px;
  width: 13px;
  height: 13px;
  background: #F23F46;
  border-radius: 50%;
  opacity: 1;
}

/*---------------------------------*/
.clock-time {
  position: absolute;
  display: flex;
  top:400px;
  left:222px;
  text-align: left;
  width: 111px;
  height: 106px;
  font: 106px Roboto;
  color: #707070;
}

.clock-time p:nth-child(2){
  padding: 2px;
}

.pause-bottom  {
  position: absolute;
  display: flex;
  top:685px;
  left:255px;

}

.pause-bottom .bottom-shape{  
  width: 208px;
  height: 48px;
  background: #F7F0F0 0% 0% no-repeat padding-box;
  border: 2px solid #E96D6D;
  border-radius: 25px;
  opacity: 1;

}

.pause-bottom .bottom-shape p {
  position: absolute;
  top:-18px;
  font: 26px Roboto Mono;
  text-align: center;
  color: #E96D6D;
  width: 100%;
}

.pause-bottom .reset-icon{
  position: absolute;
  top:2px;
  left:230px;
}

/*task-----------------------------------------------------------------------------------*/
#content .task {
  float: left;
  width: 30%;
  padding: 0 5px;
}

.task h1{
  position: absolute;
  top: 228px;
  left: 803px;
  font: 34px Roboto
}

.task .todolist{
  position: absolute;
  top: 312px;
  left: 739px;
  width: 380px;
  height: 330px;
  background: #FFF2F2 0% 0% no-repeat padding-box;
  box-shadow: 6px 4px 6px #00000029;
  border-radius: 10px;
}

.task .todolist .straight-line .line {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 1px;
  height: 230px;
  background:#AAAAAA;
}

.task .todolist .straight-line .doing{
  position: absolute;
  top: 40px;
  left: 40px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background:#F64E7DE8;
}

.task .todolist .straight-line .doing::after{
  position: absolute;
  top:6px;
  left: 8px;
  border-style: solid;
  width: 0;
  height: 0;
  border-width:4px 0 4px 6px;
  border-color: transparent transparent transparent #FFFFFF ;
  z-index: 1;
  content: "";
}


.task .todolist .straight-line .todo > * {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border:1px solid #F75E89;
  background:transparent;
  margin: 2px;
  opacity: 0.5;
}

.task .todolist .straight-line .todo > :nth-child(1){
  position: absolute;
  top: 90px;
  left: 41px;
}

.task .todolist .straight-line .todo > :nth-child(2){
  position: absolute;
  top: 134px;
  left: 41px;
}

.task .todolist .straight-line .todo > :nth-child(3){
  position: absolute;
  top: 178px;
  left: 41px;
}

.task .todolist .straight-line .todo > :nth-child(4){
  position: absolute;
  top: 224px;
  left: 41px;
}


.task .todolist ul {
  position: absolute;
  top: 20px;
  left: 55px;
  font: 16px Roboto;
  color: #AAAAAA
}


.task .todolist ul .firsttask {
  font: 21px Roboto;
  color:#000000;
}


.new-task{
  position: absolute;
  top: 672px;
  left: 739px;
  width: 340px;
  height: 54px;
  padding-left: 41px;
  background: #F5D3D3;
  box-shadow: 6px 4px 6px #00000029;
  border-radius: 10px;
  text-align: left;
  font: Medium 30px Roboto Mono;
  letter-spacing: 0;
  color: #000000;
}

.new-task::before{
  content: "";
  position: absolute;
  top:25px;
  left:330px;
  width: 25px;
  height: 4px;
  background: #971616;
}
.new-task::after{
  content: "";
  position: absolute;
  top:15px;
  left:340px;
  width: 4px;
  height: 25px;
  background: #971616;
}


/*nav-----------------------------------------------------------------------------------*/
#content .nav {
  display: block;
  float: right;
  width: 15%;
  margin: 0px;
  padding: 0px;
}

nav {
  float: right;
  width: 96px;
  height: 800px;
  background:#E96D6D;
}


/*nav layout-----------------------------------*/
nav ul > * {
  position: relative;
  left:-40px;
  margin-top:45px; 
}
nav ul li:nth-child(1) > img{
  box-shadow: 0px 3px 6px #00000029;
}

nav ul li:nth-child(2){
  left:-10px;
}

nav ul li:nth-child(3){
  left:-15px;
}

